<div class="container">
  <p class="title">Password strength checker works!</p>
  <input
    type="password"
    [(ngModel)]="password"
    (input)="checkPassword()"
    placeholder="password"
    class="password-input"
  />

  <div class="password-strength-checker-constainer">
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': graySection }"
    ></div>
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': yellowSection }"
    ></div>
    <div
      class="strength-section"
      [ngStyle]="{ 'background-color': greenSection }"
    ></div>
  </div>
</div>
