.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #404040;
  box-shadow: 0px 0px 15px 7px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.title {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.password-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.password-strength-checker-constainer {
  display: flex;
  justify-content: space-between;
}

.strength-section {
  width: 100px;
  height: 10px;
  border-radius: 5px;
  margin: 24px 5px;
}
